
SCRAPE_INTERVAL=15s
LOG_LEVEL=INFO

SLSKD_HOST=
SLSKD_PORT=5031
SLSKD_USER=
SLSKD_PASSWORD=
SLSKD_TLS_CERT=

POSTGRES_USER=slskd-exporter
POSTGRES_PASSWORD=slskd-exporter-password
POSTGRES_DB=slskd-exporter-db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
