SCRAPE_INTERVAL=15

SLSKD_HOST=
SLSKD_PORT=5031
SLSKD_USER=
SLSKD_PASSWORD=

POSTGRES_USER=slskd-exporter
POSTGRES_PASSWORD=slskd-exporter-password
POSTGRES_DB=slskd-exporter-db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
